body {
  margin: 0;
  font-family:'Roboto',sans-serif;
}
.container-image {
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  padding: 21px
}
.sobremi {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  background-color:#C4C4C4;
}
.title h1 {
  align-items: center;
  height:60px;
  background-color:#C4C4C4;
  font-size: 35px;
  color: #005677;
  text-align: center;
  letter-spacing: 4px;
  margin: 0;
  padding-top: 15px;

}
main{
  margin: 0 auto;
  width:70%;
  display: flex;
  flex-direction:column;
}
main section div {
  height: 30px;
  background-color:#C4C4C4;
}
.contenido {
  font-size:30px;
  text-align:center;
  line-height: 35px;
}
ul {
  line-height: 30px
}
h2{
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 9px;
  color: #005677;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: 4px;
}

footer{
  width:100%;
  bottom:0;
  position: fixed;
  color: white;
  font-size: 20px;
  height: 37px;
  background-color:#005677;
  display: flex;
  justify-content: center;
  align-items: center;
}